{% extends 'admin.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block admin %}

   <div class="alert alert-danger">
   
   <h2> Transaction échoué</h2>
   <p>Vous avez pas encore finalisée votre contrat avec AlgroBk
Cliqué ici pour nous contacté <a class="text-primary" href="/contact">Contact</a>
</p>
   </div>


   

{% endblock %}
