{% extends 'base.html.twig' %}

{% block title %}BonneFoie Finance - Accueil{% endblock %}

{% block body %}
<section class="hero-section theme-bg-light py-3 py-md-5">
	    <div class="container">
        
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3">BonneFoie Finance vous protége dans tout vos déplacements</h1>
				    <div class="site-tagline mb-4"> Nous vous offrons les meilleurs services avec une <span id="typewriter" class="text-primary font-weight-bold"></span>.</div>
				    <div class="cta-btns mb-lg-3">
					    <a class="btn btn-primary me-2 mb-3" href="/part">Demander un prêt<i class="fas fa-arrow-alt-circle-right ms-2"></i></a>
					    <a class="btn btn-secondary mb-3" href="/part">Demande de donation<i class="fas fa-arrow-alt-circle-right ms-2"></i></a>
				    </div>
			    </div>
			    <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="https://res.cloudinary.com/altrafinance/image/upload/v1631414161/small_cc_960x580_part_conseil_ouvrir_un_compte_a390f1371c.jpg" alt="">
			    </div>
		    </div><!--//row-->

	    </div>
</section><!--//hero-section-->


    <section class="how-section  py-5">
	    <div class="container">
		    
		    <div class="row">
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-loading-progress.svg" alt="">
					    <div class="arrow-holder d-none d-lg-inline-block"></div>
				    </div><!--//icon-holder-->
				   <!--//desc-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-window.svg" alt="">
					    <div class="arrow-holder d-none d-lg-inline-block"></div>
				    </div><!--//icon-holder-->
				    <!--//desc-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-cash-credit-card.svg" alt="">
				    </div><!--//icon-holder-->
				    <!--//desc-->
			    </div><!--//item-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//how-section-->


<section class="features-section  py-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-5 order-md-1">
				    <div class="nav flex-column" id="features-tabs" role="tablist" aria-orientation="vertical">
						<a class="nav-link active rounded" id="tab-1" data-bs-toggle="pill" href="#tab-content-1" role="tab" aria-controls="tab-1" aria-selected="true">
							<span class="tab-heading"><span class="tab-icon me-2"><i class="fas fa-car"></i></span>Mobilité</span>
						</a>
						<a class="nav-link rounded" id="tab-2" data-bs-toggle="pill" href="#tab-content-2" role="tab" aria-controls="tab-2" aria-selected="false">
							<span class="tab-heading"><span class="tab-icon me-2"><i class="fas fa-file-medical"></i></span>Santé</span>
						</a>

						<a class="nav-link rounded" id="tab-3" data-bs-toggle="pill" href="#tab-content-3" role="tab" aria-controls="tab-3" aria-selected="false">
							<span class="tab-heading"><span class="tab-icon me-2"><i class="fas fa-caravan"></i></span>Habitation et Quotidien</span>
						</a>
						<a class="nav-link rounded" id="tab-4" data-bs-toggle="pill" href="#tab-content-5" role="tab" aria-controls="tab-4" aria-selected="false">
							<span class="tab-heading"><span class="tab-icon me-2"><i class="fas fa-credit-card"></i></span>Epargne et retraite</span>
						</a>
				    </div><!--//nav-->
			    </div><!--//col-3-->
			    <div class="col-12 col-md-7 order-md-0">
				    <div class="tab-content" id="features-content">
					    
						<div class="tab-pane fade show active" id="tab-content-1" role="tabpanel" aria-labelledby="tab-1">
							<!-- ** Embed github code starts ** -->
                            <div>
                                <img class="img-responsive img-fluid" src="https://bp-prod.cloudimg.io/_images_/app/uploads/sites/5/2020/07/08142328/part-pret-auto-visuel1.jpg" alt="">
                            </div>
							
							<!-- ** Embed github code ends ** -->
							<div class="text-center mt-4">
							    <div class="caption shadow-lg theme-bg-dark text-white mx-auto"><i class="fas fa-info-circle me-2"></i>Savoir plus <a class="text-white text-link" href="mobilite"  target="_blank">sur l'offre Mobilité</a></div>
							</div>
						</div><!--//tab-pane-->
						
						<div class="tab-pane fade" id="tab-content-2" role="tabpanel" aria-labelledby="tab-2">
							
							<!-- ** Embed codepen starts ** -->
							
                            <div>
                                <img class="img-responsive img-fluid" src="https://bp-prod.cloudimg.io/_images_/app/uploads/sites/5/2020/08/06164317/pro2-2-solutions-encaissement-pour-les-pl-de-sant-tpe.jpg" alt="">
                            </div>
                            <div class="text-center mt-4">
							    <div class="caption shadow-lg theme-bg-dark text-white mx-auto"><i class="fas fa-info-circle me-2"></i>Savoir plus <a class="text-white text-link" href="/sante"  target="_blank">sur l'offre Santé</a></div>
							</div>
                            
                        </div><!--//tab-pane-->
                        
                        <div class="tab-pane fade" id="tab-content-3" role="tabpanel" aria-labelledby="tab-3">
                            <div>
                                <img class="img-responsive img-fluid" src="https://bp-prod.cloudimg.io/_images_/app/uploads/sites/5/2020/11/02171910/1920x720-ct-l-assurance-multirisque-habitation.jpg" alt="">
                            </div>
                            <div class="text-center mt-4">
							    <div class="caption shadow-lg theme-bg-dark text-white mx-auto"><i class="fas fa-info-circle me-2"></i>Savoir plus <a class="text-white text-link" href="/immo" target="_blank">sur l'offre Habitation et Quotidien</a></div>
							</div>
						</div><!--//tab-pane-->    
                            
	
						<div class="tab-pane fade text-center" id="tab-content-5" role="tabpanel" aria-labelledby="tab-5">
							<figure class="figure mx-auto">
								<img class="figure-img img-fluid rounded shadow-lg" src="https://bp-prod.cloudimg.io/_images_/app/uploads/sites/5/2020/06/25143553/gettyimages-951640954.jpg" alt="">
								<figcaption class="figure-caption caption shadow-lg theme-bg-dark text-white mt-3"><i class="fas fa-info-circle me-2"></i>Savoir plus <a class="text-white" href="/epargne" target="_blank">sur l'offre Epargne et Retraite</a>.</figcaption>
							</figure>
						</div><!--//tab-pane-->
				    </div><!--//tab-content-->
				</div><!--//col-9-->
		    </div><!--//row-->
	        <div class="pt-5 text-center">
			    <a class="btn btn-light" href="/account">Mon espace en ligne<i class="fas fa-arrow-alt-circle-right ms-2"></i></a>
		    </div>
	    </div><!--container-->
</section>



<section class="features-section  py-5">
    
    <h1 class="Notre équipes à votre disposition "></h1>
    
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-5 order-md-1">
				   <img class="img-fluid" src="https://res.cloudinary.com/altrafinance/image/upload/v1629045747/small_cc_960x580_pro_univers_grer_et_dvelopper_votre_activit_4f692efbe1.jpg" alt="">
			    </div><!--//col-3-->
			    <div class="col-12 col-md-7 order-md-0">
			         <img  class="img-fluid" src="https://res.cloudinary.com/altrafinance/image/upload/v1632253624/large_111504_30b6ebab_ac27_4e6b_bce8_b44f5862059e_bea1582466.jpg" alt="">
				</div><!--//col-9-->
		    </div><!--//row-->
	      
	    </div><!--container-->
</section>

    
<section class="cta-section text-center py-5 theme-bg-dark position-relative">
	<div class="theme-bg-shapes-right"></div>
	<div class="theme-bg-shapes-left"></div>
	<div class="container">
		<h3 class="mb-2 text-white mb-3">Toujours à vos côtés</h3>
		<div class="section-intro text-white mb-3 single-col-max mx-auto">Dans cette période exceptionnelle, BonneFoie Finance se mobilisent pour vous accompagner au mieux.</div>
		<div class="pt-3 text-center">
			<a class="btn btn-light" href="/pro">Savoir plus<i class="fas fa-arrow-alt-circle-right ms-2"></i></a>
		</div>
	</div>
</section>


<section class="integration-section text-center py-5">
	<div class="container">
		<h3 class="mb-2">Il nous font confiance</h3>
		<div class="integration-list row justify-content-center py-5">
			<div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/shopify.svg" alt=""></div>
			<div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/paypal.svg" alt=""></div>
			<div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/stripe.svg" alt=""></div>
			<div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="shadow rounded-circle" src="assets/images/logos/apple-pay.svg" alt=""></div>
		</div><!--//row-->
	</div>
</section><!--//intergration-section-->



<div class="container"><hr></div>

<section class="features-section  py-5">
    
    <h1 class="Entreprise et particulier"></h1>
    
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-5 order-md-1">
				   <img class="img-fluid" src="https://res.cloudinary.com/altrafinance/image/upload/v1632254616/small_cc_960x580_bp_fiche_conseil_nos_solutions_d_investissement_03a3c15c04.jpg" alt="">
			    </div><!--//col-3-->
			    <div class="col-12 col-md-7 order-md-0">
			         <img  class="img-fluid" src="https://res.cloudinary.com/altrafinance/image/upload/v1629047092/small_110925_bd846362_3bf2_453b_a812_4f5c2fcae30a_9e58c5c709.jpg" alt="">
				</div><!--//col-9-->
		    </div><!--//row-->
	      
	    </div><!--container-->
</section>

<section class="testimonial-section pb-5">
    <h1 class="text-center"> Nos témoignages </h1>
	<div class="container">
		<div class="testimonials-slider-container position-relative mb-5">
			<div class="testimonials-slider tiny-slider">
				{% for item in temoignage %}
				<div class="item">
					<div class="item-inner rounded shadow-sm">
						<div class="row source-holder">
							<div class="source-profile-holder col-auto">
								<img src="{{ item.image }}" class="source-profile" alt="">
							</div><!--//col-->
							<div class="col source-meta align-self-center ">
								<div class="name">{{item.titre}}</div>
								<div class="info"><a class="text-link" href="#"> </a></div>
							</div><!--//col-->
						</div><!--//row-->
							
						<div class="quote-holder">
							<blockquote class="quote-content mb-0">
								{{item.description}}
							</blockquote>
						</div><!--//quote-holder-->
					</div><!--//item-inner-->
				</div><!--//item-->
				{% endfor %}
				

			</div><!--//testimonials-slider-->
		</div><!--//slider-container-->

	</div><!--//container-->
</section><!--//testiomonial-section-->



<div class="newsletter-section py-5">
	<div class="container text-center">
		<h4 class="mb-2">Rejoignez notre newsletter</h4>
		<div class="section-intro mb-2">Inscrivez-vous pour recevoir les dernières mises à jour, fonctionnalités et actualités !</div>
		<form class="signup-form row gx-1 justify-content-center pt-3">
			<div class="col-12 col-md-auto">
				<label class="sr-only" for="semail">Email address</label>
				<input type="email" id="semail" name="semail1" class="form-control semail" placeholder="Enter email">
			</div>
			<div class="col-12 col-md-auto mt-2 mt-md-0">
			<button type="submit" class="btn btn-primary">Sign Up</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
