{% extends 'base.html.twig' %}

{% block title %}Epargne{% endblock %}

{% block body %}

<section class="hero-section  py-3 py-md-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3">Des solutions d'épargne et de retraite qui vous protegent</h1>
						     <div class="site-tagline mb-4">
                         Vous souhaitez optimiser votre fiscalité ?
Certaines primes d’assurance sont des dépenses déductibles à faire valoir sur votre déclaration fiscale pour réduire vos impôts.</div>

			    </div>
			    <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="https://cdnweb.foyer.lu/vie-home-calc.svg" alt="">
			    </div>
		    </div><!--//row-->
	    </div>
</section><!--//hero-section-->

{% endblock %}
