{% extends 'base.html.twig' %}

{% block title %}Habitation{% endblock %}

{% block body %}
<section class="hero-section  py-3 py-md-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3">L'assurance habitation unique qui vous ressemble</h1>
						     <div class="site-tagline mb-4">
                         Vous êtes unique, votre assurance aussi.
Que vous soyez aventurier, casanier, écolo, sportif, collectionneur, épicurien ou tout à la fois, votre style de vie vous est propre et peut évoluer à tout moment.
                             </div>

			    </div>
			    <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="https://cdnweb.foyer.lu/icon-landscape.svg" alt="">
			    </div>
		    </div><!--//row-->
	    </div>
</section><!--//hero-section-->


{% endblock %}
