{% extends 'base.html.twig' %}

{% block title %}Pro - AlgroBk{% endblock %}

{% block body %}

<section class="hero-section  py-3 py-md-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3"> Des solutions qui protègent vos entreprises </h1>
			
			    </div>
			    <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="https://bp-prod.cloudimg.io/_images_/app/uploads/sites/5/2020/08/25093206/cc-960x580-part-s-bad-consulter-mes-comptes.jpg" alt="">
			    </div>
		    </div><!--//row-->
	    </div>
</section><!--//hero-section-->

<section class="hero-section theme-bg-light py-3 py-md-5">
	    <div class="container">
		    <div class="row">
                <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="https://bp-prod.cloudimg.io/_images_/app/uploads/sites/5/2020/06/24152033/cc-960x580-part-gamme-page-affinitaire-fonction-publique.jpg" alt="">
			    </div>

			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3">Vous souhaitez optimiser votre entreprise ?</h1>
			     <div class="site-tagline mb-4">Certaines primes d’assurance sont des dépenses déductibles à faire valoir sur votre déclaration fiscale pour réduire vos impôts.</div>
			    </div>
			    
		    </div><!--//row-->
	    </div>
</section><!--//hero-section-->

{% endblock %}
