{% extends 'base.html.twig' %}

{% block title %}Legales{% endblock %}

{% block body %}

<div class="page-header theme-bg-dark py-5 text-center position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h1 class="page-heading single-col-max mx-auto">Informations légales | BonneFoie Finance</h1>
		    
	    </div>
    </div><!--//page-header-->


    <div class="container">
    <p>
        Le contenu des pages Web de BonneFoie Finance est protégé par les lois en vigueur sur la propriété intellectuelle. Tous les droits qui ne sont pas expressément concédés sont réservés. Il est interdit de reproduire, représenter, transférer, modifier, distribuer, ou enregistrer tout ou partie de ces éléments, sous quelque forme que ce soit, sans l'accord préalable et écrit de BonneFoie Finance.

        BonneFoie Finance n'accorde aucune garantie, expresse ou implicite, pour l'accessibilité, la précision, la fiabilité, la mise à jour ou l'intégralité des informations reprises sur ces pages.

Les produits présentés sur ce site sont, sauf indications spécifiques contraires, réservés aux seuls utilisateurs ayant le droit en ligne .

L'utilisateur est informé qu'un ou plusieurs cookies, ne contenant aucune information personnelle, pourront être placés sur son disque dur afin d'assurer son identification.
    </p>
    </div>

{% endblock %}
