{% extends 'base.html.twig' %}

{% block title %}Mobilité{% endblock %}

{% block body %}
<section class="hero-section  py-3 py-md-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3"> Votre tarif en quelques clics </h1>
						     <div class="site-tagline mb-4">
                                 Vous êtes un conducteur passionné, régulier ou plutôt occasionnel, débutant ou as du volant, citadin ou baroudeur ?

Avec mobilé de Altrafinance, vous trouverez la formule qui vous convient, quels que soient l’âge et l’expérience, la voiture, les déplacements ou l’usage.
                             </div>

			    </div>
			    <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="https://cdnweb.foyer.lu/mobile2021.svg" alt="">
			    </div>
		    </div><!--//row-->
	    </div>
</section><!--//hero-section-->

<section class="hero-section theme-bg-light py-3 py-md-5">
	    <div class="container">
		    <div class="row">
                <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="https://cdnweb.foyer.lu/conducteur-protege.svg" alt="">
			    </div>

			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3">Conducteur protégé</h1>
			     <div class="site-tagline mb-4">Le conducteur est le seul à ne pas être indemnisé pour ses propres dommages en cas d’accident. Pour faire face à cette situation, nous vous proposons cette garantie qui vous couvre (ainsi que tous les autres conducteurs désignés au contrat) dans tous vos déplacements en cas de blessure ou d’invalidité, que vous soyez au volant de votre voiture, en vélo, en trottinette ou dans les transports en commun. Nous dédommageons vos bénéficiaires en cas de décès.</div>
			    </div>
			    
		    </div><!--//row-->
	    </div>
</section><!--//hero-section-->
{% endblock %}
