{% extends 'base.html.twig' %}

{% block title %}Sante{% endblock %}

{% block body %}
<section class="hero-section theme-bg-light  py-3 py-md-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <h1 class="site-headline font-weight-bold mb-3">Libre choix de l'hôpital dans toute l'Europe </h1>
						 <div class="site-tagline mb-4">
                                 AlgroBk prend en charge les dépenses encourues non prises en charge par la Caisse Nationale de Santé (CNS) et ceci dans la limite de la formule souscrite. Sans cette couverture complémentaire, le solde à régler peut s’avérer important.

                                 Les assurances complémentaires santé medicis interviennent après les remboursements de la CNS et proposent des prestations de haut niveau que ce soit en cas d’hospitalisation, de traitements dentaires, d’aides visuelles ou tout autre traitement ambulatoire.
                            </div>

			    </div>
			    <div class="col-12 col-lg-6 text-center">
				    <img class="hero-figure mx-auto" src="https://cdnweb.foyer.lu/icon-nurse2.svg" alt="">
			    </div>
		    </div><!--//row-->
	    </div>
</section><!--//hero-section-->


{% endblock %}
